html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
	
    position: absolute;
    left: 0;
    bottom: 0;
    height: 75px;
    width: 100%;
	background-image: url("bg2.png");
}

table, th, td {
    border: 4px solid black;
    border-collapse: collapse;
	text-align: center;
	
}

th, td {
	     padding: 15px;
		 
}

tr {
    background-color: #cbffaa;
    color: white;
}

#canguro {
	text-shadow: 2px 2px #666666;
}